%h1
  笑林广记·
  %small
    古艳部

%h2 原不识字
%p.marki 原文
%p 有延师教其子者，师至，主人曰：“家贫，多失礼于先生，奈何！”师曰：“何言之谦，仆固无不可者。”主人曰：“蔬食，可乎？”曰：“可。”主人曰：“家无藏获，风洒扫庭除，启闭门户，劳先生为之，可乎？”曰：“可。”主人曰：“或家人妇子欲买零星杂物，屈先生一行，可乎？”曰：“可。”主人曰：“如此，幸甚！”师曰：“仆亦有一言，愿主人勿讶焉。”主人问何言？师曰：“自愧幼时不学耳①！”主人曰：“何言之谦。”师曰：“不敢欺，仆实不识一字。”
%p.marki 注释
%small.noti ①耳：表示肯定或语句的停顿与结束，如同“矣”，相当于“了”、“啊”、“也”。
%p.marki 译文
%p 有个人要请一位先生教育自己的孩子。有一天，一个人来应聘，主人说：“我们家贫穷，可能有很多对先生失礼的地方，您看怎么样啊？”这位先生说：“不用这么客气，我本来就没什么计较的。”主人说：“吃蔬菜，可以吗？”答：“可以。”主人说：“家里也没什么重活儿，凡是打扫庭院，开门关门，有劳先生做，可以吗？”答：“行。”主人说：“有时家里人，妇女孩子想买零星杂物，委屈先生去跑一趟，可以吗？”答：“可以 。”主人说：“如果是这样，就太好了！”之后，先生也说：“我也有一句话，希望主人不要惊讶。”主人问他什么话？先生说：“我自愧小时候没有好好学习！”主人说：“何必说这样谦虚的话。”先生说：“不敢欺骗你，我其实一字不识呀！”

%h2 小恭五两
%p.marki 原文
%p 讹诈得财，蜀人谓之敲钉锤。一广文善敲钉锤，见一生员在泮池旁出小恭①，上前扭住吓之曰：“尔身列学门，擅在泮池解手，无礼已极。”饬门斗：“押至明伦堂重惩，为大不敬者戒。”生员央之曰：“生员一时错误，情愿认罚。”广文云：“好在是出小恭，若是出大恭，定罚银十两。小恭五两可也。”生员曰：“我这身边带银一块，重十两，愿分一半奉送。”广文云：“何必分，全给了我就是了。”生员说：“老师讲明，小恭五两，因何又要十两？”广文曰：“不妨，你尽管全给了我，以后准你泮池旁再出大恭一次，让你五两。千万不可与外人说，恐坏了我的学规。”
%p.marki 注释
%small.noti ①出小恭：即小便。
%p.marki 译文
%p 讹诈得财，蜀人叫做敲钉锤。一位先生善于敲钉锤，他看见一个新学生在泮池旁边小便，上前扭住他并吓唬说：“你身在学堂，擅自在泮池解手，无礼至极。”命令守门人道：“押到明伦堂审问清楚，这是最大的不尊敬人，应该警戒的。”学生央求他说：“学生一时犯错，情愿认罚。”先生说：“幸好是解小手，若是解大手，一定罚你银子十两。解小手，罚五两就行了。”学生说：“我身边只带了一块银子，重十两 ，愿分一半奉送给您。”先生说：“何必分开，全给我就是了。”学生说：“老师讲明，解小手五两，为什么又要十两？”先生说：“不要紧，你尽管全给了我，以后准你在泮池旁解大手一次，让你五两银子。千万别对外人讲，恐怕败坏了我的学规。”

%h2 不准纳妾
%p.marki 原文
%p 有悍妻者，颇知书。其夫谋纳妾，乃曰：“于传有之，齐人有一妻一妾。”妻曰：“若尔，则我更纳一夫。”其夫曰：“传有之乎？”妻答曰：“河南程氏两夫。”夫大笑，无以难。又一妻，悍而狡①，夫每言及纳妾，辄曰：“尔家贫，安所得金买妾耶？若有金，唯命。”夫乃从人称贷得金，告其妻曰：“金在，请纳妾。”妻遂持其金纳袖中，拜曰：“我今情愿做小罢，这金便可买我。”夫无以难。
%p.marki 注释
%small.noti ①狡（jiǎo）：奸猾，不老实。
%p.marki 译文
%p 有个非常厉害的妻子，读过很多书。她的丈夫谋划着娶小妾，就说：“以前有过这样的事，齐国人有一妻一妾。”妻子说：“如果像你那样，我也要再找一个丈夫。”她的丈夫问：“过去有过这样的事吗？”妻子回答道：“河南叫程氏的妇女有两个丈夫。”丈夫大笑，想不出什么办法再难为她。另外，还有个做妻子的，又厉害，又狡猾。丈夫每次说到要娶小妾，她就回答道：“你家穷，怎么能够有钱买妾呢？如果有了钱，就听你的话，按你的意思办。”丈夫就从别人那里借来钱，对他妻子说：“钱在这儿，请给我娶小妾吧！”他的妻子便把钱装在自己的袖子里，之后下拜着说：“我现在情愿做小妾，这些钱就可以买我。”丈夫没有什么办法再难为她。

%h2 惯撞席
%p.marki 原文
%p 一乡人做巡捕官，值按院门，太守来见，跪报云：“太老官人进。”按君怒，责之十下。次日太守来，报云：“太公祖进。”按君又责之。至第三日，太守又来，自念乡语不可，通文又不可，乃报云：“前日来的，昨日来的，今日又来了。”
%p.marki 译文
%p 一个乡下人做了巡捕，负责看守按院的大门，太守来了，他跪着报告说：“太老官人进。”太守很生气，下令打他十大板。第二天，太守又来了，他又报告说：“太公祖进。”太守又打了他。到第三天，太守又来了。乡下人考虑到乡下土话不行，书面语也不行，所以就报告说：“前天来的，昨天来的，今天又来了。”
