body {
  background-color: #F9F9F3;

  .logo {
    width: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 2.2rem;
    line-height: 2.7rem;
    color: #428bca;
  }

  p {
    clear: both;
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  form {
    padding-top: 1rem;
    padding-bottom: 2rem;
    .btn {
      margin-top: 3rem;
    }
  }

  #lot-number {
    color: #FAFAFA;
    font-weight: 600;
    font-size: 32px;
    padding: 0 20px;
    margin: 0 10px;
    line-height: 36px;
    background-color: #428bca;
    border: 1px solid #357ebd;
    border-radius: 2px;
  }
}